@charset "UTF-8";
:root {
  /* Колір тексту */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --logo-header-color: #000000;
  --footer-transparent-color: rgba(255, 255, 255, 0.6);
  --social-icons:#AFB1B8;
  /* Колір фону */
  --background-color: #ffffff;
  --second-background-color: #2f303a;
  --accent-bg-color: #2196f3;
  --activ-btn: #188ce8;
  --team-background: #f5f5f5;
  /* інше */
  --gap: 30px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

/* Виділення поточної сторінки */
.current {
  color: var(--accent-text-color);
}
.current::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-bg-color);
  border-radius: 2px;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: currentColor;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.link:hover, .link:focus {
  color: var(--accent-text-color);
}

/* Kонтейнер з header */
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
}

/* Розташування елементів в header*/
.logo-box {
  display: inline-block;
  margin-right: 93px;
}

.item-nav {
  display: inline-block;
  margin-right: 50px;
}
.item-nav:last-child {
  margin-right: auto;
}

.item-contacts {
  display: inline-block;
  margin-right: 40px;
}
.item-contacts:last-child {
  margin-right: auto;
}

.contacts-container {
  margin-right: 0;
  margin-left: auto;
}

/* Стиль посилань  в header*/
.link-nav {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.link-nav:hover, .link-nav:focus {
  color: var(--accent-text-color);
}

.link-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.link-header:hover, .link-header:focus {
  color: var(--accent-text-color);
}

/* Герой-заголовок */
.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--second-background-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  text-transform: uppercase;
  margin: 0 auto 30px;
  width: 696px;
  text-align: center;
}

/* кнопка замовлення послуги*/
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 218px;
  min-height: 50px;
  padding: 10px 32px;
  background-color: var(--accent-bg-color);
  color: var(--second-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--activ-btn);
}

/* розділ Особливості */
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.feature__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}
.feature__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* секція " Чим ми займаємося" */
.work {
  padding-bottom: 94px;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__label-box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__label-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-transform: uppercase;
}

/* ceкція Наша команда */
.team {
  background-color: var(--team-background);
  font-size: 16px;
  line-height: 1.19;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

/* Постійні клієнти */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__item {
  -ms-flex-preferred-size: 175px;
      flex-basis: 175px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid var(--social-icons);
  border-radius: 4px;
  -webkit-transition: color var(--animation), border-color var(--animation);
  transition: color var(--animation), border-color var(--animation);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-bg-color);
  border: 1px solid var(--accent-text-color);
}

.clients__icon {
  fill: var(--social-icons);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.clients__item:hover .clients__icon, .clients__item:focus .clients__icon {
  fill: currentColor;
}

/* Footer */
.footer-section {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

address {
  margin-top: 20px;
}

.contacts-footer {
  display: block;
  margin-top: 9px;
}

/* Портфоліо */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Загальний стиль логотипу*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: var(--accent-text-color);
}

/* Друга половина логотипу в header */
.logo-header {
  color: var(--logo-header-color);
}

/* Друга половина логотипу в footer */
.logo-footer {
  color: var(--second-text-color);
}

/* Іконки контактів */
.contacts-icon {
  fill: var(--primary-text-color);
}
.link-header:hover .contacts-icon, .link-header:focus .contacts-icon {
  fill: currentColor;
}

/* кнопка загальні стилі та кнопка замовлення послуги*/
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.hero-btn {
  width: 218px;
  min-height: 50px;
  padding: 10px 32px;
  background-color: var(--accent-bg-color);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--activ-btn);
}

/* Заголовки секцій */
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-team {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-text {
  margin-bottom: 16px;
}

/* socials */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.socials-link:hover, .socials-link:focus {
  background-color: var(--accent-bg-color);
}

.socials-icon {
  fill: var(--social-icons);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.socials-link:hover .socials-icon, .socials-link:focus .socials-icon {
  fill: var(--second-text-color);
}

/* Посилання в футері */
.link-address {
  font-style: normal;
  color: var(--second-text-color);
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.link-address:hover, .link-address:focus {
  color: var(--accent-text-color);
}

.link-contacts {
  font-style: normal;
  color: var(--footer-transparent-color);
  text-decoration: none;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.link-contacts:hover, .link-contacts:focus {
  color: var(--accent-text-color);
}

/* Cоцмережі в футері*/
.footer-socials {
  margin-left: 70px;
  display: block;
}

.social-invite {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.footer-section .socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}

.footer-section .socials-link:hover,
.footer-section .socials-link:focus {
  background-color: var(--accent-bg-color);
}

/* Підписка в футері */
.subscription {
  margin-left: auto;
  display: block;
}

.subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--second-text-color);
  background-color: var(--second-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px, 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px, 4px rgba(0, 0, 0, 0.15);
}
.subscription-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  margin-left: 10px;
  background-color: var(--accent-bg-color);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: var(--activ-btn);
}

.send-icon {
  fill: #EEEEEE;
  margin-left: 10px;
}

/* Кнопки фільтра в портфоліо */
.filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 50px;
}

.item-filter {
  margin-right: 8px;
}
.item-filter:last-child {
  margin-right: 0;
}

.filter-btn {
  background-color: var(--team-background);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.filter-btn.first {
  width: 73px;
  padding: 6px 25px;
}
.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-bg-color);
  color: var(--second-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Проекти в портфоліо */
.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * (var(--gap)));
  margin-left: calc(-1 * (var(--gap)));
}

.item-projects {
  -ms-flex-preferred-size: calc(33.3333333333% - (var(--gap)));
      flex-basis: calc(33.3333333333% - (var(--gap)));
  margin-top: var(--gap);
  margin-left: var(--gap);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.link-project {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.link-project:hover, .link-project:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 101%;
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--accent-bg-color);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  opacity: 0.9;
}
.link-project:hover .overlay, .link-project:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.about-project {
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.project-subtitle {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--background-color);
  -webkit-transition: -webkit-transform 400ms linear;
  transition: -webkit-transform 400ms linear;
  transition: transform 400ms linear;
  transition: transform 400ms linear, -webkit-transform 400ms linear;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--background-color);
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-icon {
  fill: var(--logo-header-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.modal-btn:hover .close-icon,
.modal-btn:focus .close-icon {
  fill: var(--accent-text-color);
}

.modal-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label-input {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 36px;
  padding-right: 36px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.label-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.register-input:focus {
  border-color: var(--accent-text-color);
}

.register-input:focus + .modal-icon {
  fill: var(--accent-text-color);
}

textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.icon-checked {
  opacity: 0;
  fill: var(--accent-text-color);
  -webkit-transition: opasity var(--animation);
  transition: opasity var(--animation);
}

.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

.agreement-text {
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreememt-link {
  color: var(--accent-text-color);
}

.send-btn {
  display: block;
  width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  margin: 0 auto;
  background-color: var(--accent-bg-color);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.send-btn:hover, .send-btn:focus {
  background-color: var(--activ-btn);
}/*# sourceMappingURL=main.css.map */