/* Cоцмережі в футері*/

.footer-socials {
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.social-invite {
    @include fonts(700, 14px, 1.14, 0.03em);
    
    text-transform: uppercase;
    color: var(--second-text-color);
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.footer-section .socials-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--animation);
}

.footer-section .socials-link:hover,
.footer-section .socials-link:focus {
    background-color: var(--accent-bg-color);
}