/* Cоцмережі в футері*/

.footer-socials {
    margin-left: 70px;
    display: block;
}

.social-invite {
    @include fonts(700, 14px, 1.14, 0.03em);
    
    text-transform: uppercase;
    color: var(--second-text-color);
    margin-bottom: 20px;
}

.footer-section .socials-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--animation);
}

.footer-section .socials-link:hover,
.footer-section .socials-link:focus {
    background-color: var(--accent-bg-color);
}