/* розділ Особливості */

.feature {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.feature__list {
    display: block;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.feature__item {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 0;
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);
        margin-bottom: 0;
    }
    
}

.feature__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature__item-title {
    @include fonts(700, 14px, 1.17);
        
    color: var(--title-text-color);
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}