/* Footer */
.footer-section {
    background-color: var(--second-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

address {
    margin-top: 20px;
}

.contacts-footer {
    display: block;
    margin-top: 9px;
}