/* ceкція Наша команда */

.team {
    background-color: var(--team-background);
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-wight: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.team-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

